
.fon{
    background-color: rgb(195, 184, 22);
 position: relative;
 
 
 overflow: auto;
 bottom: 520px;
 left: 700px;
 width: 450px;
 height: 550px;
 border: 2px solid rgba(1, 1, 22, 0.945);

 border-radius: 5%;
}

.container2::-webkit-scrollbar {
    -webkit-appearance: none;
}


.container2{
    background-color:  rgba(0, 255, 255, 0.451);
    background: linear-gradient(rgba(62, 62, 61, 0.481), rgba(14, 55, 158, 0.761), #0d0d0d);
    overflow: auto;
    height: 790px;
    position: relative;
   
}

.countri{
    background-color: rgba(236, 227, 227, 0.128);
    display: flex;
    position: relative;
    flex-direction: column;
    width: 500px;
    top: 100px; 
    left: 100px;
    height: 600px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    border-radius: 5%;
    border: 2px solid rgba(1, 1, 22, 0.945);
      font-family:Copperplate Gothic Light; 
     /* font-family:Ink Free; */
     /* cursor: url(../IMG/2.6.png), auto; */



}


.button {
    position: relative;
   width: 30px;
   height:20px;
    top: 10px; 
    right: 550px;
   
}

.button1 {
    position: relative;
   
    border-radius: 50% 0px 50px 0px;
    top: -10px; 
    left: 0px;
    border: 2px solid rgba(1, 1, 22, 0.945);
    background-color: rgb(33, 205, 2);
}

.button2{
    position: relative;
   
    
    top: 20px; 
    left: 0px;
    text-decoration: none;
    text-decoration-line: none;
    margin: -0px 60px -50px 720px;    ;
    border: 2px solid rgba(8, 8, 8, 0.945);
    background-color: rgba(123, 238, 159, 0.412);
    font-family:Copperplate Gothic Light; 
}




.img{
    position: relative;
    width: 200px;
    height: 100px;
    margin: 1px 10px 0px 0px;
    border-radius: 10px 5px 0px 20px;
    border: 2px solid rgba(1, 1, 22, 0.945);
}

.activity{
    background-color: rgba(139, 236, 145, 0.382);
    display: flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;
    width: 400px;
    bottom: 500px;
    left: 910px;
  

    border-radius: 5%;
   
    font-family:Ink Free;
    border: 1px solid rgba(1, 1, 22, 0.945);
}

