.container{
    flex-wrap: wrap; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position:relative ;
    border-radius: 6px ;
    background-color: rgba(195, 225, 234, 0.693);
    height:280px;
    width:270px ;
   
    border-color: rgb(58, 58, 55);
   
     margin: 30px 1px -00px 10px; 

     border-style:  inset;
     border-right-style: inset;
     box-shadow: 10px 10px 10px #2e08966f;

     cursor: url(../IMG/2.2.png), auto;
}
.img{
    position: relative;
    height: 90%;
    width: 170px;
    
    border: 4px solid rgba(8, 8, 13, 0.945);
    box-shadow: 30px 7px 10px 3px;
    border-radius: 10px 5px 0px 20px;
    }

.text{
    font-family: serif;
    font-size: 12px;
    margin: -10px 10px -1px 10px;
}